<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MPF</title>

<div th:replace="fragments/header :: header-css" />

</head>
<body>
	<table height="100%" width="100%">
		<tr>
			<td>
				<div th:replace="fragments/header :: header" />
			</td>
		</tr>
		<tr>
			<td>
				<div class="container">

					<div class="starter-template">
						<table class="responstable">
							<tr>
								<th colspan="2"><u>Dashboard</u></th>

							</tr>
							<tr>
								<td valign="top">
									<table width="100%">
										<tr>
											<th colspan="2">Stone Stock Details</th>
										</tr>
										<tr>
											<th>Quality</th>
											<th>Quantity</th>
										</tr>
										<tr th:each="stoneStock, iter : ${stoneStocks}">
											
											<td><p th:text="${stoneStock.qualityRangeVo.rangeShortName}" /></td>
											<td><p th:text="${stoneStock.stoneStock}" /></td>
										</tr>
									</table>
								</td>
								<td valign="top">
									<table width="100%">
										<tr>
											<th colspan="2">Stone Stock Details</th>
										</tr>
										<tr>
											<th>Quality</th>
											<th>Quantity</th>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>

				</div> <!-- /.container -->
			</td>
		</tr>
		<tr>
			<td>
				<div th:replace="fragments/footer :: footer" />
			</td>
		</tr>
	</table>
</body>
</html>