<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MPF - ISD Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
	
    <p th:text="'id: ' + ${stone.id}" />
    
    <table border="1" align="center">
  <tr>
    <th></th>
    <th>Range</th>
    <th>IN STOCK</th>
    <th>Stock In</th>
  </tr>
  <tr th:each="stoneIn, iter : ${stone.stoneIns}" >
    <td th:text="${stoneIn.qualityRange.rangeId}" ></td>
    <td th:text="${stoneIn.qualityRange.range}" ></td>
    <td th:text="${stoneIn.inStone}" ></td>
    <td th:text="${stoneIn.stock}" ></td>
    
  </tr>
  <tr>
  	<td colspan="4"><input type="submit" value="send SMS" /></td>
  </tr>
</table>
    
   </div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
