<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MPF - ISD Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
	<form action="#" th:action="@{/smsStoneIn}" th:object="${stone}"
			method="post">
    <p th:text="'id: ' + ${stone.inStoneId}" />
    <input type="text"
						th:field="${stone.inStoneId}" />
    
    <table class="responstable">
  <tr>
    
    <th>Range</th>
    <th>Opening Stock</th>
    <th>Stock In</th>
    <th>Stock in Store</th>
    <th>Comments</th>
  </tr>
  <tr th:each="stoneIn, iter : ${stone.stoneIns}" >
    <p th:hidden="${stoneIn.qualityRange.rangeId}" /> 
    <td th:text="${stoneIn.qualityRange.range}" ></td>
    <td th:text="${stoneIn.openingStock}" ></td>
    <td th:text="${stoneIn.inQuantity}" ></td>
    <td th:text="${stoneIn.stock}" ></td>
    <td th:text="${stoneIn.comments}" ></td>
    
  </tr>
  <tr>
  	<th colspan="6"><input class="submitButton" type="submit" value="send SMS" /></th>
  </tr>
</table>
    </form>
   </div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
