<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MPF - ISD Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">

		<form action="#" th:action="@{/submitStone}" th:object="${stone}"
			method="post">
			<table class="responstable">
				<tr>
					
					<th>Range</th>
					<th>Opening Stock</th>
					<th>Stock In</th>
					<th>Comments</th>
					
				</tr>
				
				<tr th:each="stoneIn, iter : ${stone.stoneIns}">
					<input type="hidden"
						th:field="*{stoneIns[__${iter.index}__].qualityRange.rangeId}" />
					<td><input type="text" readonly="readonly"
						th:field="*{stoneIns[__${iter.index}__].qualityRange.range}" /></td>
					<td><p th:text="${stoneIn.stock}" /></td>
					<td><input type="number" min="0" th:id="${iter.index}"
						th:field="*{stoneIns[__${iter.index}__].inQuantity}"
						onchange="updateSum(this)" /></td>
					<input type="hidden" 
						th:id="'stock-' +${iter.index}"
						th:field="*{stoneIns[__${iter.index}__].stock}" />
					<td><textarea rows="1" cols="25"
							th:field="*{stoneIns[__${iter.index}__].Comments}"></textarea></td>
				</tr>
				<tfoot>
				<tr>
				 <th colspan="4"> <input class="submitButton" type="submit" value="Submit" /></th>
				</tr>
				</tfoot>
			</table>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer" />
</body>
</html>
